.catalogue {
  &-item {
    color: $default-color;
    display: block;
    padding-top: 2rem;

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-size: 0.9em;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1.36rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-abstract {
    font-size: .9rem;
  }
}
